.search {
  position: absolute;

  &-none {
    text-align: center;
    margin-top: 10px;
  }
  &-none.hidden {
    display: none;
  }
  &-items {
    padding: 0;
    margin: 0;
    background: $main-color;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 15px 20px 15px;
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.58);
    width: 241px;
    list-style: none;
    margin-top: -6px;
  }
  &-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 3px;
  }

  &-item {
    margin-top: 10px;
    display: none;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-white;
      &:hover {
        color: tomato;
      }
    }
  }
  &-item.active {
    display: block;
  }
}
@media (max-width: 768px) {
  .search {
    position: absolute;
    right: 4%;
    top: 77px;
    &-items {
      background: $color-mobile;
      width: 259px;
      box-shadow: none;
    }

    &-item {
      a {
        color: $main-color;
        &:hover {
          color: $main-color;
        }
      }
    }
    &-none {
      color: $main-color;
    }
  }
}

mark {
  background: rgb(233, 164, 175);
}
